# Backend
backend/.phpunit.cache
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/vendor
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/auth.json
backend/.fleet
backend/.idea
backend/.nova
backend/.vscode
backend/.zed

# Frontend
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.idea
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace
frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
frontend/.history/*
frontend/.angular/cache
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings

# Miscellaneous
.DS_Store
Thumbs.db